.foto-perfil {
    height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 50%;
  }

  .corPrimaria {
    background-color: #02a9f7;
  }

  .corSecundaria {
    background-color: 		#02577a ;
  }

  p {

    font-family: lato, 'Helvetica Neue',Helvetica, Arial, sans-serif;
    color: black !important;
  }

  .icones {
    padding-left: 5px;
  }

  .titulosBrancos{
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom:20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
  }

  .titulosVerdes{
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom:20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #18bc9c;
  }

  .textoBranco {
    color: white !important;
  }

  .jumbotron{
    margin-bottom:0px;
  }

  .textoFooter {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  html {
    scroll-behavior: smooth;
  }